<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Teams | FIFA World Cup 2018</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>

<header class="header">
    <img class="logo" th:src="@{images/2018_FIFA_World_Cup.png}" />
    <table class="header-right">
        <tr>
            <td class="fragment" th:insert="supplement.html :: header"></td></tr></table>
</header>

<div>
    <form method="post"  th:action="@{/addTeam}" th:object="${team}">
        <table>
            <input type="hidden" th:field="*{TeamID}">
            <tr><th>Team Name</th></tr>
            <tr><td><input type="text" th:field="*{TeamName}"></td></tr>
            <tr><th>Continent</th></tr>
            <tr><td><select name="continent" th:field="*{Continent}" style="width:50px;">
                <option name="option" th:value="Asia">Asia</option>
                <option name="option" th:value="Africa">Africa</option>
                <option name="option" th:value="America">America</option>
                <option name="option" th:value="Europe">Europe</option>
                <option name="option" th:value="Oceania">Oceania</option>
            </select></td></tr>
            <tr><th>Played</th></tr>
            <tr><td><input type="text"  th:field="*{Played}"></td></tr>
            <tr><th>Won</th></tr>
            <tr><td><input type="text"  th:field="*{Won}"></td></tr>
            <tr><th>Drawn</th></tr>
            <tr><td><input type="text"  th:field="*{Drawn}"></td></tr>
            <tr><th>Lost</th></tr>
            <tr><td><input type="text"  th:field="*{Lost}"></td></tr>
            <tr><td><input onclick="alert('The team has been successfully added')" type="submit" value="Add Team"></td></tr>
        </table>


    </form>
</div>

<footer class="footer" th:insert="supplement.html :: footer"></footer>

</body>
</html>