<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Teams | FIFA World Cup 2018</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>

<header class="header">
    <img class="logo" th:src="@{images/2018_FIFA_World_Cup.png}" />
    <table class="header-right">
        <tr>
            <td class="fragment" th:insert="supplement.html :: header"></td></tr></table>
</header>

<table width="50%">
    <tr class="tableheader"><th>ID</th><th>TEAM</th><th>CONTINENT</th><th>PLAYED</th><th>WON</th><th>DRAWN</th><th>LOST</th><th>OPTION</th></tr>
    <th:block th:each="t:${teams}">
        <tr><td th:text="${t.TeamID}"></td>
            <td th:text="${t.TeamName}"></td>
            <td th:text="${t.Continent}"></td>
            <td th:text="${t.Played}"></td>
            <td th:text="${t.Won}"></td>
            <td th:text="${t.Drawn}"></td>
            <td th:text="${t.Lost}"></td>
            <td><a onclick="confirm('Are you sure you want to delete this record?')" th:href="@{'deleteTeamById/' + ${t.TeamID}}">DELETE</a></td>
        </tr>
    </th:block>
</table>

<div>
    <form th:action="@{/delete}" method="get">
        <input type="text" name="keyword">
        <input type="submit" value="Filter">
    </form>
</div>

<footer class="footer" th:insert="supplement.html :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>

