<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Teams | FIFA World Cup 2018</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>

<header class="header">
    <img class="logo" th:src="@{images/2018_FIFA_World_Cup.png}" />
    <table class="header-right">
        <tr>
            <td class="fragment" th:insert="supplement.html :: header"></td></tr></table>
</header>

<table width="50%">
    <tr class="tableheader"><th>ID</th><th>TEAM</th><th>CONTINENT</th><th>PLAYED</th><th>WON</th><th>DRAWN</th><th>LOST</th><th>OPTION</th></tr>
    <th:block th:each="t:${teams}">
        <tr><td th:text="${t.TeamID}"></td>
            <td th:text="${t.TeamName}"></td>
            <td th:text="${t.Continent}"></td>
            <td th:text="${t.Played}"></td>
            <td th:text="${t.Won}"></td>
            <td th:text="${t.Drawn}"></td>
            <td th:text="${t.Lost}"></td>
            <td><a th:href="@{'editTeamById/' + ${t.TeamID}}">EDIT</a></td>
        </tr>

    </th:block>

</table>

<div>
    <form th:action="@{/edit}" method="get">
        <input type="text" name="keyword">
        <input type="submit" value="Search">
    </form>
</div>

<footer class="footer" th:insert="supplement.html :: footer"></footer>

</body>
</html>